<form autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <input type="hidden" name="paymentDetailId" [(ngModel)]="paymentDetailForm.paymentDetailId">
    <label for="ownerName">مالک کارت</label>
    <input
      type="text"
      class="form-control form-control-lg"
      id="ownerName"
      placeholder="نام و نام خانوادگی"
      name="ownerName"
      [(ngModel)]="paymentDetailForm.ownerName"
      required
      #ownerName="ngModel"
      [class.invalid]="ownerName.invalid && ownerName.touched"
    />
  </div>
  <div class="form-group">
    <label for="cardNumber">شماره کارت</label>
    <input
      type="text"
      class="form-control form-control-lg"
      id="cardNumber"
      placeholder="شماره 16 رقمی"
      name="cardNumber"
      maxlength="16"
      minlength="16"
      [(ngModel)]="paymentDetailForm.cardNumber"
      required
      #cardNumber="ngModel"
      [class.invalid]="cardNumber.invalid && cardNumber.touched"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="securityCode">کد امنیتی</label>
      <input
        type="password"
        class="form-control form-control-lg"
        id="securityCode"
        placeholder="CVV"
        name="securityCode"
        minlength="3"
        maxlength="3"
        [(ngModel)]="paymentDetailForm.securityCode"
        required
        #securityCode="ngModel"
        [class.invalid]="securityCode.invalid && securityCode.touched"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="expireDate">تاریخ انقضا</label>
      <input
        type="text"
        class="form-control form-control-lg"
        id="expireDate"
        placeholder="MM/YY"
        name="expireDate"
        minlength="5"
        maxlength="5"
        [(ngModel)]="paymentDetailForm.expireDate"
        required
        #expireDate="ngModel"
        [class.invalid]="expireDate.invalid && expireDate.touched"
      />
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-info btn-lg btn-block" [disabled]="form.invalid"  type="submit">ثبت</button>
  </div>
</form>
