<div class="jumbotron py-3">
    <h1 class="display-4">ثبت اطلاعات پرداخت</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-payment-forms></app-payment-forms>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>مالک کارت</th>
            <th>شماره کارت</th>
            <th>انقضا</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of paymentDetailList" (click)="currentPaymentHandler(item)">
            <td>{{item.ownerName}}</td>
            <td>{{item.cardNumber}}</td>
            <td>{{item.expireDate}}</td>
            <td><i (click)="onDelete($event,item.paymentDetailId!)" class="far fa-trash-alt fa-lg"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>